.main-collection-section {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 0px 0px;
  grid-template-areas:
      "empty product-types"
      "filters collection";
  max-width: 1220px;
  margin: auto;
}

.main-collection_mobile-filters {
  grid-area: mobile-filters;
  grid-column: span 2;
  display: none;
}

.main-collection_product-type-filters {
  grid-area: product-types;
}

.main-collection_filters {
  grid-area: filters;
  flex: 1 0 25%;
  padding-left: 3%;
  padding-right: 3%;
}

.main-collection_products {
  grid-area: collection;
}

.main-collection_grid {
  gap: 0;
}

.main-collection_grid .main-collection_grid-item {
  grid-column: span 4;
  border: 1px solid;
}

.main-collection .main-collection_load-products {
  text-align: center;
  margin: 60px auto;
}

@media (max-width: 989px) {
  .main-collection-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(0,auto));
    gap: 0px 0px;
    grid-template-areas:
        "mobile-filters mobile-filters"
        "collection collection";
  }

  .main-collection_product-type-filters, .main-collection_filters {
    display: none;
  }

  .main-collection_mobile-filters {
    position: relative;
  }

  .main-collection_mobile-filters, .main-collection_mobile-filters .main-collection_product-type-filters, .main-collection_mobile-filters .main-collection_filters {
    display: block;
  }

  .main-collection_mobile-filters .main-collection_product-type-filters, .main-collection_mobile-filters .main-collection_filters {
    position: absolute;
    top: 40px;
    z-index: 9;
    background-color: white;
    width: 100%;
  }

  .main-collection_grid {
    grid-column: span 2;
  }

  .main-collection_grid .main-collection_grid-item {
    grid-column: span 6;
  }

  .main-collection_grid .main-collection_grid-item .quantity-wrapper {
    display: none;
  }
}