.img-and-product-cards-container{
    padding-left: 3%;
    padding-right: 3%;
    max-width: 1220px;
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.row .image-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row .product-column {
    width: 100%;
}

.row .product-column .product-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0; 
    border:  0.66px solid black; 
    grid-gap: 1px;
    grid-template-rows: auto auto;
    background-color: black;
}

.product-cards > * {
    max-width: 100%; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: wrap; 
}

.row .product-column .product-cards .product-card {
    text-align: center;
    box-sizing: border-box;
    align-self: start; 
    justify-self: start;
    height: 100%;
    width: 100%;
}

.row .product-column .product-cards .product-card a {
 display: block;
 margin: 0;
 height: 100%;
 width: 100%;
 position: relative;
 overflow: hidden;
 box-sizing: border-box;
}

.row .product-column .product-cards .product-card .product-text {
    padding: 10px 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.row .product-column .product-cards .product-card .product-text h3{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'Iowan'!important;
    font-family: var(--heading-family);
    margin: 0;
}

.row .product-column .product-cards .product-card .product-text .price{
    font-size: 20px;
    line-height: 25px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: 'Assistant';

}

  
.row .product-column .product-cards .product-card .product-image {
    width: 100%; 
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.66px solid black;
    background: #F9F4EF;
}

.row .product-column .product-cards .product-card .product-image .product-image-bg {
    width: 100px;
    height: 160px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.row .product-column .product-cards .product-card .add-to-cart-button{
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 15px;
    font-weight: 600px;    
    height: fit-content;
    width: 100%;
}
   

.row .product-column .product-cards .product-card .add-to-cart-button:hover{
 border: transparent;
 color: white;
}

.image-column {
    display: flex;
    flex-direction: column;
    justify-content: start!important;
    text-align: left!important;
    align-items: flex-start!important;
    padding: 60px 36px;
}

.image-column p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
    line-height: 21px;
    margin-bottom: 0px;
    font-family: var(--main-family);
}

.image-column h2 {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 700px;
    line-height: 57px;
    margin-bottom: 0px;
    font-family: 'Iowan'!important;
}

.image-column .button{
    margin-top: 18px;
    background: #AE775C;
    font-size: 12px;
    line-height: 26px;
    font-weight: 600;
    height: fit-content;
    padding: 10px 30px;
}

@media screen and (min-width: 350px) {
    .row .product-column .product-cards .product-card .product-image .product-image-bg {
        width: 120px;
        height: 180px;
    }
}

@media screen and (min-width: 795px) {
    .row {
        flex-direction: row;
    } 
    .row .product-column{
        width: 54%;
    }
    .row .image-column {
        width: 46%;
    }
    .row .product-column .product-cards .product-card .product-text {
        padding: 15px 30px;

    }

    .row .product-column .product-cards .product-card .product-image .product-image-bg {
        width: 200px;
        height: 250px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .row .product-column .product-cards .product-card .product-image {
        height: 427px;  
    }
}
